* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --redDark: #9F1111;
    --redLight: #FCF2CC;
    --greenDark: #134D18;
    --greenLight: #2A7337;
    --orangeLight: #FF9D61;
    --orangeDark: #F8792A;
    --bodyTextColor: #1E1E1E;
    --bodyTextColorWhite: #ffffff;
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    --headerFont: "Jost";
    --bodyFont: "Jost";
}


@media only screen and (min-width: 0px) {
    body {
        overflow-x: hidden;
        font-family: var(--bodyFont);
        color: var(--bodyTextColor);
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
    }

    button {
        cursor: pointer;
    }

    #navigation {
        background-color: var(--redDark);
        position: fixed;
        width: 100%;
    }

    #navigation .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        max-width: 9rem;
    }

    img { 
        flex-shrink: 0;
        display: block;
        min-height: 100%;
        max-width: 100%;
        object-fit: fill;
        padding:  .5rem 1rem;
    }

    #navigation .menu-toggle {
        display: block;
        border: none;
        max-width: 4rem;
        background-color: var(--redDark);
    }

    #navigation .ul-wrapper {
        display: none;
        margin-top: 8px;
    }
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content 
    container when the user clicks on the dropdown button) */
    #navigation .show {
        display: flex;
    }

    #navigation .ul-wrapper {
        z-index: -1;
        position: absolute;
        left: 0;
        /* transform: scaleY(0); */
        background-color: var(--redDark);
        height: auto;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        /* transition: transform 0.4s; */
        box-shadow: rgba(44, 2, 2, 0.2) 0px 8px 24px;
        /* transform-origin: top; */
        justify-content: center;
    }

    #navigation .menu-expanded {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        overflow: auto;

    }

    ul {
        list-style-type: none;
    }

    #navigation li a {
        font-family: var(--bodyFont);
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
        color: white;
        display: block;
        text-align: center;
        width: 100%;
        height: auto;
        padding: 1rem 0rem;
    }

    #navigation li .li-active {
        background-color: var(--redLight);
        color: var(--redDark); 
    }

    #navigation li a:hover {
        background-color: var(--redLight);
        color: var(--redDark);    
    }

    footer {
        z-index: -2;
        background-color: var(--greenLight);
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .logo {
        padding: 1rem 0rem;
    }

    footer hr {
        min-width: 4rem;
    }

    footer li {
        float: left;
    }

    footer li a {
        font-family: var(--bodyFont);
        font-weight: 300;
        font-size: 0.75em;
        text-decoration: none;
        text-transform: capitalize;
        color: white;
        display: inline-block;
        padding: 1rem;
    }

    footer .footer-end {
        background-color: var(--greenDark);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer p {
        font-family: var(--bodyFont);
        font-weight: 300;
        font-size: 0.5em;
        color: white;
        padding: .5rem;
    }

    footer a {
        font-family: var(--bodyFont);
        font-weight: 300;
        font-size: 0.5em;
        text-decoration: none;
        color: white;
        /* padding: 0rem; */
    }

    footer .icon {
        width: 6rem;
    }

    footer .connect {
        justify-content: center;
    }

    footer .connect a {
        font-family: var(--bodyFont);
        font-weight: 400;
        font-size: 0.75em;
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 1rem;
    }

    footer .connect img {
        float: right;
        max-width: 0.6rem;
        padding: 0rem;
        margin-left: 0.5rem;
    }

}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
